extends ../base/base.pug

block content
  +process('Thanh toán thành công', 3)
  .container
    .row
      .col-4 
        .complete-cart-content
          h4 Hóa đơn
          p#cart-id
            span.font-weight-bold ID: 
            span#bill-id 123
          p 
            span.font-weight-bold Trạng thái: 
            | Đang chờ xử lý
          p#date-create 
            span.font-weight-bold Ngày đặt hàng:  
            span#bill-date 21/04/2021
      .col-4 
        .complete-cart-content
          h4 Thồng tin người dùng
          p 
            span.font-weight-bold Họ và tên: 
            span#person-name Dương Văn Thiện 
          p 
            span.font-weight-bold Email: 
            span#person-email example@gmail.com
          p#address 
            span.font-weight-bold Địa chỉ:  
            span#person-address Chưa biết
      .col-4 
        .complete-cart-paymethod.bg-light.rounded
          h4 Phương thức thanh toán
          img(src="./assets/images/dollar.svg", alt="Dollar")
          p#bill-paymethod.mb-0.mt-2 Bằng tiền mặt
    table.table.table-bordered.my-5
      thead
        tr
          th #
          th Sản phẩm
          th Tên
          th Đơn giá
          th Số lượng
          th Thành tiền
      tbody#cart-shopping-body
        tr
          td Mark
          td Otto
          td Mark
          td Otto
          td Mark
          td Otto
    .row
      .col-8
        .bill-content
          h4 Ghi chú đơn hàng: 
          p#bill-note Không có
      .col-2 
        .bill-content
          p.font-weight-bold Tổng tiền: 
          p.font-weight-bold Thuế:
          p.font-weight-bold Thanh toán:
      .col-2
        .bill-content
          p#shopping-cart-total.text-danger 0 Đ
          p#shopping-cart-tax.text-danger 0 Đ
          p#shopping-cart-pay.text-danger 0 Đ
    a#btn-submit.btn.btn-yellow.rounded-0.text-uppercase.d-block.ml-auto.text-white.margin-bottom-30px(href="/home.html") Quay về trang chủ
block script 
  script(src="./assets/js/complete-cart.js") 